<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
</style>

<h2>Workshop Wednesday:&nbsp;</h2>
<b><a href="{{ newsletter_json.workshop.registration }}">{{ newsletter_json.workshop.title }}</a>:</b> 
{{ newsletter_json.workshop.final_copy }} <b><a href="{{ newsletter_json.workshop.registration }}">Register here!</a></b>

<div>
    <br>
</div>

<h2>Free Red Hat Learning:&nbsp;</h2>
<b><a href="{{ newsletter_json.training.registration }}">{{ newsletter_json.training.title }}</a>:</b> 
{{ newsletter_json.training.final_copy }} <b><a href="{{ newsletter_json.training.registration }}">Sign up today!</a></b>

<div>
    <br>
</div>

<h2>Free Skills Assessment:&nbsp;</h2>
<b><a href="{{ newsletter_json.assessment.registration }}">{{ newsletter_json.assessment.title }}</a>:</b> 
{{ newsletter_json.assessment.final_copy }} <b><a href="{{ newsletter_json.assessment.registration }}">Start now!</a></b>

<div>
    <br>
</div>

<h2>More news from Ansible, Openshift, and RHEL:</h2>

<div>
    <i>"{{ newsletter_json.ansible_blog.title }}"</i> [<b><a href="{{ newsletter_json.ansible_blog.link }}" style="">read</a></b>]
</div>

<div>
    <i>"{{ newsletter_json.ansible_video.title }}"</i> [<b><a href="{{ newsletter_json.ansible_video.link }}" style="">watch</a></b>]
</div>

<div>
    <i>"{{ newsletter_json.openshift_blog.title }}"</i> [<b><a href="{{ newsletter_json.openshift_blog.link }}" style="">read</a></b>]
</div>

<div>
    <i>"{{ newsletter_json.openshift_video.title }}"</i> [<b><a href="{{ newsletter_json.openshift_video.link }}" style="">watch</a></b>]
    <br>
</div>

<div>
    <i>"{{ newsletter_json.rhel_blog.title }}"</i> [<b><a href="{{ newsletter_json.rhel_blog.link }}" style="">read</a></b>]
    <br>
</div>

<div>
    <i>"{{ newsletter_json.rhel_video.title }}"</i> [<b><a href="{{ newsletter_json.rhel_video.link }}" style="">watch</a></b>]
    <br>
</div>

<div>
    <br>
</div>

<div>
    That's all for this week! All the best!
</div>

<div>
    <div>
        <br clear="all">
    </div>

    <div>
        <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
            <div dir="ltr">
                <div dir="ltr">
                    <div dir="ltr" style="color:rgb(34,34,34)">
                        Michael Wilson
                    </div>

                    <div dir="ltr" style="color:rgb(34,34,34)">
                        Solutions Architect
                        <br>
                        <div>
                            Red Hat, Inc.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>